<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <% if (user) {%>
    <% if (user.isAdmin==true) {%>
    <div>
      <h1>WELCOME BACK <%= user.username %></h1>
      <a href="/log-out">LOG OUT</a>
    
      <form action="/new" method="POST">
        <h2>Write new Message</h2>
        <input id="usr" name="usr" type="hidden" value= <%= user.username %>>   
        <textarea name="newMessage" id="newMessage" cols="30" rows="10"></textarea>
        <input type="submit">
      </form> 
    </div>
    
    <div>
      <h1>Feed</h1>
      <% for (var i = 0; i < messages.length; i++) { %>
      <div><%= messages[i].name %>
       
      <%= messages[i].message %>
      <%= messages[i].time %></div>
      <form action="/delete " method="POST">
        <input id="usr" name="usr" type="" value= <%= messages[i]._id %>>
        <input type="submit" value="delete">
      </form>
      <% } %>
      
    </div>
    <% } else { %>
      <% if(user.isMember){ %>
        <h1>members</h1>
      <% } else{ %>  
        <h1>not members</h1>
     <% } %>
      <%}%>
  <% } 
  
  else { %>
    <div>
      <h1>please log in</h1>
        <form action="/log-in" method="POST">
          <label for="username">Username</label>
          <input name="username" placeholder="username" type="text" />
          <label for="password">Password</label>
          <input name="password" type="password" />
          <button>Log In</button>
          <a href="/sign-up">sign up</a>
    </form>
    </div>
    <div>     
    </div>
  <%}%>
</body>
</html>